body{
	background-image: url('Cream Wallpaper.jpg');
}

.container {
	border: 1px solid black;
	width: 1400px;
	padding: 2em;
}

h2{
	font-family: 'Poiret One', cursive;
	text-align: center;
}

fieldset.form-horizontal {
	background-color: gold;
	
	margin-bottom: 10px;
	border: dotted 2px black;
}